body {
  background-color: gray;
}

a {
  text-decoration: none;
}

#main {
  margin-top: 140px;
}

@media (max-width: 750px) {
  #main {
    margin-top: 25px;
  }
  .container {
    width: 100%;
  }
}

#main-content {
  background-color: hsla(0, 0%, 95%, 0.90);
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 750px) {
  #main-content {
    margin: 0 10px;
  }
}

#subscribe-button {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

hr {
  border-top: 1px solid hsla(0, 0%, 50%, 1);
}

form {
  margin-bottom: 0;
}

input, button, .button, input[type="button"], input[type="submit"], input[type="text"], input[type="email"] {
  border-radius: 20px;
}

#lang-switcher {
  text-align: right;
}