body {
  background-color: gray;
}

a {
  text-decoration: none;
}

hr {
  border-top: 1px solid hsla(0, 0%, 50%, 1);
}

form {
  margin-bottom: 0;
}

input, button, .button, input[type="button"], input[type="submit"], input[type="text"], input[type="email"] {
  border-radius: 20px;
}

#main {
  margin-top: 120px;
  margin-bottom: 70px;
}

#main-content {
  background-color: hsla(0, 0%, 95%, 0.90);
  border-radius: 20px;
  padding: 20px;
}

#subscribe-button {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

#lang-switcher {
  text-align: right;
}

@media (max-width: 955px) {
  h1 {
    font-size: 4.0rem;
  }
}

@media (min-width: 955px) {
  #lang-switcher {
    margin-top: 10px;
  }
}

@media (max-width: 770px) {
  h1 {
    font-size: 3.3rem;
  }

  .container {
    width: 100%;
  }
  
  #main {
    margin-top: 25px;
  }
  
  #main-content {
    margin: 0 10px;
  }
}

/* Title area width */
@media (max-width: 555px) {
  .columns.site-title {
    width: 60%;
  }
  .columns#lang-switcher {
    width: 40%;
  }
}